@import "tailwindcss";
.reveal {
  opacity: 0;
  transform: translateY(20px);
  filter: blur(4px);
  transition: all 0.9s ease-out;
}

.reveal.visible {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0);
}
